.userEditPage
  .header アカウント編集
    .container
      = form_for current_user, url: registration_path(current_user) do |f|
        .form-group
          = f.label '名前'
          = f.text.field :name, class: "form-control"
        .form-group
          = f.label '自己紹介'
          = f.text.area :self_introduction, class: "form-control"
        .form-group
          性別:
          = f.label '男'
          = f.radio_button :sex, :男
          = f.label '女'
          = f.radio_button :sex, :女
        .form-group
          画像:
          = f.file_field :img_name

        .form-group
          = f.label '更新するにはパスワードを入力してください'
          = f.password_field :current_password, class: "form-control", autocomplete: "off"
        .text-center
          = f.submit '更新', class: "btn submitBtn"