.topPage
  %nav.nav
    %ul
      %li.personIcon= link_to(content_tag(:i, "", class: 'fas fa-2x fa-user'), user_path(current_user.id))
      %li.appIcon= link_to image_tag("techpit-march-icon.png"), action: "index"
  #tinderslide
    %ul
      - @users.each do |user|
        %li{"data-user_id" => "#{user.id}"}
          .userName= user.name
          = image_tag user.img_name.url unless user.img_name.nil?
          .like
          .dislike
    .noUser 近くにお相手がいません。
  #actionBtnArea.actions
    %a.dislike{:href => "#"}
      %i.fas.fa-times.fa-2x
    %a.like{:href => "#"}
      %i.fas.fa-heart.fa-2x
:javascript
  $("#tinderslide").jTinder();
  $('.actions .like, .actions .dislike').click(function(e){
    e.preventDefault();
    $("#tinderslide").jTinder($(this).attr('class'));
  });
